<app-header titulo="Cadastro de Lançamentos"></app-header>

<main class="content">
    <div class="card">
        <h2>Novo Lançamento</h2>

        <form [formGroup]="form" (ngSubmit)="handleSubmit();" class="form">

            <div class="form-group">
                <label for="tipo">Tipo: *</label>
                <select id="tipo" formControlName="tipo">
                    <option value="">Selecione...</option>
                    <option value="RECEITA">Receita</option>
                    <option value="DESPESA">Despesa</option>
                </select>

                <span class="form-hint form-hint-error">O tipo é obrigatório.</span>
            </div>

            <div class="form-group">
                <label for="categoriaId">Categoria: *</label>
                <select id="categoriaId" formControlName="categoriaId">
                    <option value="">Selecione...</option>
                    @for (categoria of categoriasAtivas; track categoria.id) {
                        <option [value]="categoria.id">{{ categoria.nome }}</option>
                    }
                </select>

                <span class="form-hint form-hint-error">A categoria é obrigatório.</span>
            </div>

            <div class="form-group">
                <label for="date">Data: *</label>
                <input id="data" name="data" formControlName="data" type="date" />

                <span class="form-hint form-hint-error">A data é obrigatório.</span>
            </div>

            <div class="form-group">
                <label for="valor">Valor: *</label>
                <input id="valor" name="valor" formControlName="valor" type="text" />

                <span class="form-hint form-hint-error">O valor é obrigatório.</span>
            </div>

            <div class="form-group">
                <label for="cartaoId">Cartão: </label>
                <select id="cartaoId" formControlName="cartaoId">
                    <option value="">Selecione...</option>
                    @for (cartao of cartoesAtivos; track cartao.id) {
                        <option [value]="cartao.id">{{ cartao.nome }}</option>
                    }
                </select>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-primary">Salvar</button>
                <button type="button" class="btn-secondary">Cancelar</button>
            </div>

        </form>
    </div>
</main>